.entrance-box {
  margin: 200px auto;
  padding: 0;
  width: 50%;
  text-align: center;
}

.joon-dev-text {
  cursor: default;
  font-family: Londrina Outline;
  font-size: 200px;
  font-weight: 700;
  color: white;
  transition: all 150ms ease-in-out;
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}