#entrance-box {
  margin: 200px auto 500px; /* 200 px above and below, and center horizontally */
  width: 50%; /* 50% width of display */
  text-align: center; /* centers items inside horizontally*/
}

#joon-dev-text {
  opacity: 0;
  cursor: default;
  font-size: 200px;
  font-size: 13.5vw;
  font-family: Londrina Outline;
  font-weight: 700;
  color: white;
  animation: fadeIn 3s ease-in-out forwards;
  animation-delay: 500ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
