/* This style below will be inherited */
body {
  font-family: Roboto, Arial;
  margin: 0;
  padding-top: 10vh;
  /* creates gradient background and then it doesn't move so when scrolling it looks swell */
  background-image: linear-gradient(to right, rgb(0, 110, 255), rgb(89, 0, 255));
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  height: 100%;
}

html {
  height: calc(100% - 10vh);
}
/* Text links no longer underlined and blue*/
a {
  color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}