.header {
  height: 60px;
  z-index: 100;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;

  background-color: lightcoral;
  border-bottom: 1px solid black;
}

.left-side {
  display: flex;
  align-items: center;
}

.right-side {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.github-icon-container,
.linkedin-icon-container,
.contact-button-container {
  display: flex;
  margin: 10px;
}

.github-icon,
.linkedin-icon,
.contact-button {
  height: 40px;
  border-radius: 5px;
}

.contact-button {
  border: none;
  padding: 0px 15px;
  color: white;
  background-color: black;
}

.contact-button:hover {
  background-color: white;
  color: black;
  transition: 300ms;
  cursor: pointer;
}