.header {
  /* height: 60px; */
  height: 10vh;
  z-index: 100;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;

  background-color: lightcoral;
  border-bottom: 1px solid black;
}

.left-side {
  display: flex;
  align-items: center;
  border: 5px solid black;
}

.right-side {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 5px solid black;
}

.github-icon-container,
.linkedin-icon-container,
.contact-button-container,
.jdev-logo-container,
.about-button-container,
.blog-button-container {
  display: flex;
  margin: 10px;
  height: 100%;
  align-items: center;
}

.github-icon,
.linkedin-icon,
.contact-button,
.jdev-logo,
.about-button,
.blog-button {
  height: 70%;
  border-radius: 5px;
}

.contact-button,
.about-button,
.blog-button {
  border: none;
  padding: 0px 15px;
  color: white;
  background-color: black;
}

.contact-button:hover,
.about-button:hover,
.blog-button:hover {
  background-color: white;
  color: black;
  transition: 300ms;
  cursor: pointer;
}