.header {
  height: 80px;
  /* height: 10vh; */
  z-index: 100;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;

  background-color: #2C2C34;
  border-bottom: 1px solid black;
}

.left-side {
  display: flex;
  align-items: center;
}

.right-side {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.h-button {
  display: none;
}

.blog-button,
.projects-button,
.home-button,
.h-button {
  font-family: Londrina Outline;
  font-size: 65px;
  color: #D8D8F6;
  border: none;
  background-color: rgb(0, 0, 0, 0);
  margin: 0pc 10px;
  transition: all 150ms ease-in-out;
}

.blog-button:hover,
.projects-button:hover,
.home-button:hover {
  cursor: pointer;
  transform: translate3d(0px, -2px, 0px);
  text-shadow: 1px 1px 2px white;
}

.blog-button:active,
.projects-button:active,
.home-button:active {
  transform: translate3d(0px, 0px, 0px);
}

@media screen and (max-width: 600px) {
  .home-button {
    display: none;
  }
  .h-button {
    display: block;
  }
}